{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace um=Sandstorm\UserManagement\ViewHelpers}


<div {attributes -> f:format.raw()}>

    <div class="row">

        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12 relative" >
                    <div class="bg-image" <f:if condition="{image1}"><f:then>style="background-image: url({media:uri.image(image: image1)}); height: 507px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bg1Rect.jpg', package: 'Ws.Fshsite')}); height: 507px; "></f:else></f:if>

                        <div class="contentRight">
                            <div class="contentText">
                                {neos:contentElement.editable(property: 'headline1', tag: 'h2')}
                                {neos:contentElement.editable(property: 'text1')}
                            </div>
                            <f:if condition="{link1}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                    <a class="circle" href="{link1}"></a>
                                </div>
                            </f:if>
                        </div>
                        <f:if condition="{link1} && {neos:rendering.live()}">
                            <a class="circle" href="{link1}"></a>
                        </f:if>
                    </div>
                </div>
            </div><!-- end row -->

            <div class="row">

                <div class="col-sm-6">
                    <div class="bg-image" <f:if condition="{image3}"><f:then>style="background-image: url({media:uri.image(image: image3)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgAktuelles.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                        <div class="content">
                            <div class="contentText">
                                {neos:contentElement.editable(property: 'headline3', tag: 'h2')}
                                {neos:contentElement.editable(property: 'text3')}
                            </div>
                            <f:if condition="{link3}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                    <a class="circle" href="{link3}"></a>
                                </div>
                            </f:if>
                        </div>
                        <f:if condition="{link3} && {neos:rendering.live()}">
                            <a class="circle" href="{link3}"></a>
                        </f:if>
                    </div>
                </div><!-- end col-sm-6 -->

                <div class="col-sm-6">
                    <div class="bg-image" <f:if condition="{image4}"><f:then>style="background-image: url({media:uri.image(image: image4)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgGruppe.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                        <div class="content">
                            <div class="contentText">
                                {neos:contentElement.editable(property: 'headline4', tag: 'h2')}
                                {neos:contentElement.editable(property: 'text4')}                               
                            </div>
                            <f:if condition="{link4}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                    <a class="circle" href="{link4}"></a>
                                </div>
                            </f:if>
                        </div>
                        <f:if condition="{link4 && {neos:rendering.live()}">
                            <a class="circle" href="{link4}"></a>
                        </f:if>
                    </div>
                </div><!-- end col-sm-6 -->

            </div><!-- end row -->

        </div><!-- end col-sm-8 -->

        <div class="col-sm-4">
            <div class="bg-image" <f:if condition="{image2}"><f:then>style="background-image: url({media:uri.image(image: image2)}); height: 801px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgForum.jpg', package: 'Ws.Fshsite')}); height: 801px; "></f:else></f:if>
                <div class="contentOrange90">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline2', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text2')}
                    </div>
                    <f:if condition="{link2}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                            <a class="circle" href="{link2}"></a>
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link2} && {neos:rendering.live()}">
                <a class="circle" href="{link2}"></a>
            </f:if>
        </div><!-- end col-sm-4 -->

    </div><!-- end row -->

    <div class="row">

        <div class="col-sm-6">
            <div class="bg-image" <f:if condition="{image5}"><f:then>style="background-image: url({media:uri.image(image: image5)}); height: 380px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgKontakt.jpg', package: 'Ws.Fshsite')}); height: 380px; "></f:else></f:if>
                <div class="contentLeftOrange65">	       
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline5', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text5')}
                    </div>
                    <f:if condition="{link5}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                            <a class="circle" href="{link5}"></a>
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link5} && {neos:rendering.live()}">
                <a class="circle" href="{link5}"></a>
            </f:if>
        </div><!-- end col-sm-6 -->

        <div class="col-sm-6">
            <div class="bg-image" <f:if condition="{image6}"><f:then>style="background-image: url({media:uri.image(image: image6)}); height: 380px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgBeratung.jpg', package: 'Ws.Fshsite')}); height: 380px; "></f:else></f:if>
                <div class="contentRight65">		        
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline6', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text6')}
                    </div>
                    <f:if condition="{link6}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                            <a class="circle" href="{link6}"></a>
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link6} && {neos:rendering.live()}">
                <a class="circle" href="{link6}"></a>
            </f:if>
        </div><!-- end col-sm-6 -->

    </div><!-- end row -->

    <div class="row">

        <div class="col-sm-8">
            <div class="bg-image" <f:if condition="{image7}"><f:then>style="background-image: url({media:uri.image(image: image7)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgInfothek.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                <div class="contentRight">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline7', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text7')}
                    </div>
                    <f:if condition="{link7}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                            <a class="circle" href="{link7}"></a>
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link7} && {neos:rendering.live()}">
                <a class="circle" href="{link7}"></a>
            </f:if>
        </div><!-- end col-sm-8 -->

        <div class="col-sm-4" >
            <div class="bg-image" <f:if condition="{image8}"><f:then>style="background-image: url({media:uri.image(image: image8)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgMember.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                <div class="content">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline8', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text8')}
                    </div>
                    <f:if condition="{link8}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                            <a class="circle" href="{link8}"></a>
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link8} && {neos:rendering.live()}">
                <um:ifAuthenticated>
                    <f:then>
                        <a href="/mitglieder/mitgliederbereich/aktuelles.html"></a>
                    </f:then>
                    <f:else>
                        <a class="circle" href="{link8}"></a>
                    </f:else>
                </um:ifAuthenticated>
            </f:if>
        </div><!-- end col-sm-4 -->

    </div><!-- end row -->

    <div style="clear:both"></div>

</div><!-- end homegrid -->