<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="E-Mail Template">
    <style>
    </style>
  </head>
  <body>
      <p>
      <table>
        <tbody>
          <f:for each="{form.formState.formValues}" as="value" key="label">
            <f:if condition="{value}">
              <tr>
                <td valign="top">{label}:&nbsp;</td>
                <td>{value}</td>
              </tr>
            </f:if>
          </f:for>
        </tbody>
        </table>
  </body>
</html>
