

<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Registration</f:section>

<f:section name="Content">
  <div class="callout success">
      <p>Eine E-Mail wurde Ihnen jetzt gesendet. Bitte klicken Sie den Link in der E-Mail an.</p>
      <p>Falls Sie die E-Mail nicht finden, schauen Sie auch in Ihrem Spam-Ordner nach. Falls Sie vielleicht vorhin eine falsche E-Mail-Adresse eingegeben haben gehen Sie einen Schritt zurück und korrigieren Sie die E-Mail Adresse oder beginnen Sie von vorne.</p>
  </div>
</f:section>

</html>
