

<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default"/>

<f:section name="Title">Registration</f:section>

<f:section name="Content">
  <div class="callout success">
    <p>Wir haben Ihnen eine E-Mail gesendet. Bitte prüfen Sie ihr Postfach und klicken Sie in dieser E-Mail den angegebenen Link um Ihre Registrierung zu bestätigen. Danach prüfen wir, ob Sie in unserer Mitgliederdatenbank stehen. Ist das der Fall, wird Ihr Zugang innerhalb von 7 Werktagen freigeschaltet. Nach der Freischaltung erfolgt keine weitere Nachricht von unserer Seite. Sie können sich nach Ablauf dieser ca. 7 Werktage (häufig klappt es auch schon früher) einfach mit dem von Ihnen selbst gewählten Passwort im Mitgliederbereich einloggen. Sollte es Probleme geben, melden Sie sich bitte unter: Stefan.Johaenntgen@webServus.de .</p>
  </div>
</f:section>

</html>
