{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace um=Sandstorm\UserManagement\ViewHelpers}


<div {attributes -> f:format.raw()}>

    <div class="row">

        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12 relative" >
                <f:if condition="{link}">
                    <a href="{link}">
                </f:if>
                    <div class="bg-image" <f:if condition="{image1}"><f:then>style="background-image: url({media:uri.image(image: image1)}); height: 507px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bg1Rect.jpg', package: 'Ws.Fshsite')}); height: 507px; "></f:else></f:if>

                        <div class="contentRight">
                            <div class="contentText">
                                <h2>Emilys Reise <img src="https://www.frauenselbsthilfe.de/_Resources/Static/Packages/Ws.Fshsite/Images/yt_46x46px_2x.gif" style="height:50px;width:50px;" alt="YouTube Icon"></h2>
                                {neos:contentElement.editable(property: 'text')}
                            </div>
                            <f:if condition="{link}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                </div>
                            </f:if>
                        </div>
                    </div>
                <f:if condition="{link3}">
                    </a>
                </f:if>
                </div>
            </div><!—- end row -—>

            <div class="row">

                <div class="col-sm-6">
                <f:if condition="{link2}">
                    <a href="{link2}">
                </f:if>
                    <div class="bg-image" <f:if condition="{image3}"><f:then>style="background-image: url({media:uri.image(image: image3)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgAktuelles.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                        <div class="content">
                            <div class="contentText">
                                {neos:contentElement.editable(property: 'headline2', tag: 'h2')}
                            </div>
                            <f:if condition="{link2}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                </div>
                            </f:if>
                        </div>
                    </div>
                    <f:if condition="{link2}">
                        </a>
                    </f:if>
                </div><!—- end col-sm-6 —->

                <div class="col-sm-6">
                <f:if condition="{link3}">
                    <a href="{link3}">
                </f:if>
                    <div class="bg-image" <f:if condition="{image4}"><f:then>style="background-image: url({media:uri.image(image: image4)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgGruppe.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                        <div class="content">
                            <div class="contentText">
                                {neos:contentElement.editable(property: 'headline3', tag: 'h2')}
                            </div>
                            <f:if condition="{link3}">
                                <div class="circleLink">
                                    <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                                </div>
                            </f:if>
                        </div>
                    </div>
                <f:if condition="{link3}">
                    </a>
                </f:if>
                </div><!—- end col-sm-6 —->

            </div><!—- end row —->

        </div><!—- end col-sm-8 -—>

        <div class="col-sm-4">
            <div class="bg-image" <f:if condition="{image2}"><f:then>style="background-image: url({media:uri.image(image: image2)}); height: 801px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgForum.jpg', package: 'Ws.Fshsite')}); height: 801px; "></f:else></f:if>
                <div class="contentOrange90">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline4', tag: 'h2')}
<div class="teaser_text">
<h3>Vibrationstraining während Chemo</h3>
<p>Liebe Linolinchen92, ich würde da deinen behandelnden Arzt im Brust Zentrum fragen und beim krebsinformationsdienst anrufen oder per Email schreiben. Ich... <a href="https://forum.frauenselbsthilfe.de/forum/thread/5717-vibrationstraining-w%C3%A4hrend-chemo/" title="Link zu 'Vibrationstraining  während Chemo'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Bestrahlung</h3>
<p>Hallo @Mietzekatz<br>kannst du mir vielleicht auch die Firma schicken. Ich probiere auch schon so einiges durch, sport bhs und bustiers, aber hab bis jetzt noch nichts richtig  passendes (C-körbchen)... <a href="https://forum.frauenselbsthilfe.de/forum/thread/623-bestrahlung/" title="Link zu 'Bestrahlung'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Inzwischen hat es sich bestätigt</h3>
<p>Liebe Bine, ich begrüße dich hier ganz herzlich und wünsche dir einen guten Therapieverlauf. Wenn du in einem Brust Zentrum bist, dann bist du dort sicher in den besten Händen. Natürlich... <a href="https://forum.frauenselbsthilfe.de/forum/thread/6116-inzwischen-hat-es-sich-best%C3%A4tigt/" title="Link zu 'Inzwischen hat es sich bestätigt'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Unser "Ich-Drück-die-Daumen-Strang"</h3>
<p>Liebe Carbol und liebe kruemelmotte, da lese ich direkt zwei super Nachrichten von euch. ?????<br>Ich freue... <a href="https://forum.frauenselbsthilfe.de/forum/thread/513-unser-ich-dr%C3%BCck-die-daumen-strang/" title="Link zu 'Unser "Ich-Drück-die-Daumen-Strang"'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Zwei Antikörper: Herceptin (Trastuzumab) und Perjeta (Pertuzumab)</h3>
<p>Guten Morgen Katzi64, ich melde mich mal zurück <a href="https://forum.frauenselbsthilfe.de/forum/thread/2172-zwei-antik%C3%B6rper-herceptin-trastuzumab-und-perjeta-pertuzumab/" title="Link zu 'Zwei Antikörper: Herceptin (Trastuzumab) und Perjeta (Pertuzumab)'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Xeloda-Nebenwirkungen</h3>
<p>Ich nehm es so, wie es passt. Ich soll die guten Pillen immer nach dem Essen nehmen. Frühstück und Abendessen liegen bei mir aber meistens nicht 12h auseinander. Geht also nicht anders und der Arzt... <a href="https://forum.frauenselbsthilfe.de/forum/thread/4079-xeloda-nebenwirkungen/" title="Link zu 'Xeloda-Nebenwirkungen'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

<h3>Und schon wieder...</h3>
<p>Liebe Katzi64, vielen Dank für deine Worte und Wünsche für meine Mama. Ich bewundere was du bereits gemeistert hast und finde es super, dass du mit deiner... <a href="https://forum.frauenselbsthilfe.de/forum/thread/5832-und-schon-wieder/" title="Link zu 'Und schon wieder...'" target="_blank">weiterlesen</a></p>
<hr class="noshade"/>

</div>
                    </div>
                </div>
            </div>
        </div><!—- end col-sm-4 -—>

    </div><!—- end row —->

    <div class="row">

        <div class="col-sm-6">
            <f:if condition="{link4}">
                <a href="{link4}">
            </f:if>
            <div class="bg-image" <f:if condition="{image5}"><f:then>style="background-image: url({media:uri.image(image: image5)}); height: 380px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgKontakt.jpg', package: 'Ws.Fshsite')}); height: 380px; "></f:else></f:if>
                <div class="contentLeftOrange65">	       
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline5', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text2')}
                    </div>
                    <f:if condition="{link4}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link4}">
                </a>
            </f:if>
        </div><!—- end col-sm-6 -—>

        <div class="col-sm-6">
            <f:if condition="{link5}">
                <a href="{link5}">
            </f:if>
            <div class="bg-image" <f:if condition="{image6}"><f:then>style="background-image: url({media:uri.image(image: image6)}); height: 380px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgBeratung.jpg', package: 'Ws.Fshsite')}); height: 380px; "></f:else></f:if>
                <div class="contentRight65">		        
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline6', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text3')}
                    </div>
                    <f:if condition="{link5}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link5}">
                </a>
            </f:if>
        </div><!—- end col-sm-6 -—>

    </div><!—- end row —->

    <div class="row">

        <div class="col-sm-8">
            <f:if condition="{link6}">
                <a href="{link6}">
            </f:if>
            <div class="bg-image" <f:if condition="{image7}"><f:then>style="background-image: url({media:uri.image(image: image7)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgInfothek.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                <div class="contentRight">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline7', tag: 'h2')}
                        {neos:contentElement.editable(property: 'text4')}
                    </div>
                    <f:if condition="{link6}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link6}">
                </a>
            </f:if>
        </div><!—- end col-sm-8 -—>

        <div class="col-sm-4" >
            <f:if condition="{link7}">

                <um:ifAuthenticated>
                          <f:then>
                              <a href="/mitglieder/mitgliederbereich/aktuelles.html">
                          </f:then>
                          <f:else>
                              <a href="{link7}">
                          </f:else>
                      </um:ifAuthenticated>

            </f:if>
            <div class="bg-image" <f:if condition="{image8}"><f:then>style="background-image: url({media:uri.image(image: image8)}); height: 260px;"></f:then><f:else>style="background-image: url({f:uri.resource(path: 'Images/bgMember.jpg', package: 'Ws.Fshsite')}); height: 260px; "></f:else></f:if>
                <div class="content">
                    <div class="contentText">
                        {neos:contentElement.editable(property: 'headline8', tag: 'h2')}
                    </div>
                    <f:if condition="{link7}">
                        <div class="circleLink">
                            <img src="{f:uri.resource(path: 'Images/circle.png', package: 'Ws.Fshsite')}" />
                        </div>
                    </f:if>
                </div>
            </div>
            <f:if condition="{link7}">
                </a>
            </f:if>
        </div><!—- end col-sm-4 -—>

    </div><!—- end row —->

    <div style="clear:both"></div>

</div><!—- end homegrid —->
